.nav {
    width: 20vw;
    height: 100vh;
    background-color: #1f1f1f;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav__logo,
.nav__content,
.nav__footer {
    padding: 10px 10%;
}

.nav__logo {
    margin-top: 3vh;
}

.nav__content {
    display: felx;
}

.nav__content a {
    text-decoration: none;
    font-size: 16px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 10px 10px;
    margin: 7px 0px;

    transition: all 0.5s;
}

.nav__content a:hover {
    transition: all 0.5s;
    transition-delay: 0.5s;
    background: white;
    color: black;
}

.nav__content a:hover i {
    transition: color 0.5s;
    transition-delay: 0.5s;
    color: black;
}

.current_path {
    background: white;
    color: black;
}

.current_path i {
    color: black;
}

/* a hover animation 시작 */

.nav__content a span {
    position: absolute;
    display: block;
    background-color: white;
}

.nav__content a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
    transition-delay: 0s;
}

.nav__content a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
    transition-delay: 0s;
}

.nav__content a span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

.nav__content a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

.nav__content a span:nth-child(3) {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
    transition-delay: 0s;
}

.nav__content a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
    transition-delay: 0s;
}

.nav__content a span:nth-child(4) {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

.nav__content a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

/* .nav__hr {
    position: relative;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    opacity: 0.2;
    margin: 12% 0px;
} */

.nav__footer {
    margin-top: auto;
    margin-bottom: 2vh;
}

.nav__footer span {
    font-size: 12px;
    opacity: 0.2;
    text-transform: uppercase;
}
