.actor {
    width: 80vw;
    height: 100vh;

    padding: 10px 34px;
}

.actor h1 {
    margin-top: 3vh;
    text-transform: uppercase;
}

.actor__base {
    position: relative;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actor__base form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor__custom-input {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.actor__custom-input .placeholder {
    position: absolute;
    top: 50%;
    left: 24px;
    color: black;
    transform: translateY(-50%);

    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.actor__custom-input .input-text:focus + .placeholder,
.actor__custom-input .input-text:valid + .placeholder {
    top: 20px;
    font-size: 10px;
    color: white;
}

.input-text {
    all: unset;
    color: black;
    text-align: center;
    background-color: white;

    width: 40vw;
    height: 50px;
    border-radius: 12px;
    margin: 12px;
    padding: 12px;

    font-size: 16px;
}

.input-text::placeholder {
    color: red;
}

.actor__hidden {
    display: none;
}

.actor__result {
    width: auto;
    height: 80%;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
}

.card {
    min-width: 450px;
    min-height: 220px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);

    display: grid;
    grid-template:
        "img name" 50px
        "img summary" 170px / 150px 1fr;


    padding: 10px 10px;
    margin: 0px 20px 0px 10px;
}

.card__img {
    position: absolute;
    top: -20px;
    left: -20px;

    grid-area: img;
    width: 150px;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;

    object-fit: contain;
}

.card__img img {
    width: 150px;
    height: 220px;
    object-fit: contain;
}

.card__name {
    grid-area: name;
}

.card__summary {
    grid-area: summary;

    display: flex;
    overflow: scroll;
}
