.about {
    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about__card {
    background-color: white;
    width: 450px;
    height: 220px;

    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about__card * {
    color: black;
}

.about__card div {
    align-self: flex-end;
}

.about__card div h5 {
    opacity: 0.5;
}
